In [14]:
from quantrocket.history import get_historical_prices
import quantrocket.db
from quantrocket import *
import pandas as pd


#Variables

universe = "australia-stk"
db = "australia-stk-1day"
start_date = "2019-01-02"
end_date = "2019-01-03"



prices = get_historical_prices(db, 
                               start_date=start_date,
                               end_date=end_date, 
                               universes=universe,
                               fields=["High", "Low", "Open", "Close"])




new_prices = prices[prices.loc["Open"] >= 0.1].copy()

opens = new_prices.loc["Open"]
closes = new_prices.loc["Close"]
highs = new_prices.loc["High"] 
lows = new_prices.loc["Low"]

dollar_change = (highs - lows)



dollar_change_percentage = (dollar_change / ((opens+closes)/2)) * 100


dollar_change_percentage_sorted = dollar_change_percentage.sort_values(by=start_date, axis=1, ascending=False)

In [15]:
new_prices.head()

ConId             3882741    4036812    4036818    4036823    4036833    \
Field Date
Close 2019-01-02       2.44      33.68      70.97      23.63     24.480
      2019-01-03       2.47      33.68      71.84      23.93     25.040
High  2019-01-02       2.52      34.55      72.47      24.00     24.950
      2019-01-03       2.50      34.13      71.98      24.09     25.075
Low   2019-01-02       2.43      33.65      70.77      23.47     24.400

ConId             4081863    4109645    4109651    4109654    4109657    \
Field Date
Close 2019-01-02      2.770      23.86      11.11      76.65     13.270
      2019-01-03      2.850      24.34      11.54      76.65     13.280
High  2019-01-02      2.840      24.44      11.65      78.31     13.430
      2019-01-03      2.855      24.39      11.71      77.48     13.445
Low   2019-01-02      2.770      23.81      11.03      76.48     13.220

ConId               ...      346070193  346215855  346216377  346362067  \
Field Date          ...
Close 2019-01-02    ...          0.475       2.23        NaN      0.110
      2019-01-03    ...          0.485       2.18        NaN      0.115
High  2019-01-02    ...          0.550       2.24        NaN      0.120
      2019-01-03    ...          0.485       2.23        NaN      0.115
Low   2019-01-02    ...          0.475       2.23        NaN      0.110

ConId             346523933  347787870  348087382  349593258  349593265  \
Field Date
Close 2019-01-02    100.225      0.875        NaN        NaN        NaN
      2019-01-03    100.080      0.850        NaN        NaN        NaN
High  2019-01-02    100.330      1.150        NaN        NaN        NaN
      2019-01-03    100.290      0.930        NaN        NaN        NaN
Low   2019-01-02    100.200      0.850        NaN        NaN        NaN

ConId             349593316
Field Date
Close 2019-01-02        NaN
      2019-01-03        NaN
High  2019-01-02        NaN
      2019-01-03        NaN
Low   2019-01-02        NaN

[5 rows x 1718 columns]

In [16]:
new_prices.index

MultiIndex(levels=[['Close', 'High', 'Low', 'Open'], [2019-01-02 00:00:00, 2019-01-03 00:00:00]],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['Field', 'Date'])

In [17]:
dollar_change_percentage.head()

ConId,3882741,4036812,4036818,4036823,4036833,4081863,4109645,4109651,4109654,4109657,...,346070193,346215855,346216377,346362067,346523933,347787870,348087382,349593258,349593265,349593316
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-02,3.673469,2.648617,2.372314,2.228295,2.229880,2.500000,2.608696,5.462555,2.365869,1.585504,...,14.634146,0.447427,NaN,9.090909,0.129724,33.994334,NaN,NaN,NaN,NaN
2019-01-03,2.024291,1.687389,1.565448,1.843704,1.668677,2.288732,2.108745,4.235808,1.432758,1.393072,...,0.000000,2.267574,NaN,4.444444,0.249588,15.606936,NaN,NaN,NaN,NaN

In [18]:
dollar_change_percentage.index

DatetimeIndex(['2019-01-02', '2019-01-03'], dtype='datetime64[ns]', name='Date', freq=None)

In [22]:
aa = dollar_change_percentage.append(new_prices)

In [23]:
aa.head(20)

ConId,3882741,4036812,4036818,4036823,4036833,4081863,4109645,4109651,4109654,4109657,...,346070193,346215855,346216377,346362067,346523933,347787870,348087382,349593258,349593265,349593316
2019-01-02 00:00:00,3.673469,2.648617,2.372314,2.228295,2.229880,2.500000,2.608696,5.462555,2.365869,1.585504,...,14.634146,0.447427,NaN,9.090909,0.129724,33.994334,NaN,NaN,NaN,NaN
2019-01-03 00:00:00,2.024291,1.687389,1.565448,1.843704,1.668677,2.288732,2.108745,4.235808,1.432758,1.393072,...,0.000000,2.267574,NaN,4.444444,0.249588,15.606936,NaN,NaN,NaN,NaN
"(Close, 2019-01-02 00:00:00)",2.440000,33.680000,70.970000,23.630000,24.480000,2.770000,23.860000,11.110000,76.650000,13.270000,...,0.475000,2.230000,NaN,0.110000,100.225000,0.875000,NaN,NaN,NaN,NaN
"(Close, 2019-01-03 00:00:00)",2.470000,33.680000,71.840000,23.930000,25.040000,2.850000,24.340000,11.540000,76.650000,13.280000,...,0.485000,2.180000,NaN,0.115000,100.080000,0.850000,NaN,NaN,NaN,NaN
"(High, 2019-01-02 00:00:00)",2.520000,34.550000,72.470000,24.000000,24.950000,2.840000,24.440000,11.650000,78.310000,13.430000,...,0.550000,2.240000,NaN,0.120000,100.330000,1.150000,NaN,NaN,NaN,NaN
"(High, 2019-01-03 00:00:00)",2.500000,34.130000,71.980000,24.090000,25.075000,2.855000,24.390000,11.710000,77.480000,13.445000,...,0.485000,2.230000,NaN,0.115000,100.290000,0.930000,NaN,NaN,NaN,NaN
"(Low, 2019-01-02 00:00:00)",2.430000,33.650000,70.770000,23.470000,24.400000,2.770000,23.810000,11.030000,76.480000,13.220000,...,0.475000,2.230000,NaN,0.110000,100.200000,0.850000,NaN,NaN,NaN,NaN
"(Low, 2019-01-03 00:00:00)",2.450000,33.560000,70.860000,23.650000,24.660000,2.790000,23.880000,11.225000,76.380000,13.260000,...,0.485000,2.180000,NaN,0.110000,100.040000,0.795000,NaN,NaN,NaN,NaN
"(Open, 2019-01-02 00:00:00)",2.460000,34.280000,72.350000,23.940000,24.850000,2.830000,24.440000,11.590000,78.050000,13.220000,...,0.550000,2.240000,NaN,0.110000,100.200000,0.890000,NaN,NaN,NaN,NaN
"(Open, 2019-01-03 00:00:00)",2.470000,33.880000,71.250000,23.800000,24.700000,2.830000,24.030000,11.360000,76.900000,13.280000,...,0.485000,2.230000,NaN,0.110000,100.250000,0.880000,NaN,NaN,NaN,NaN

In [41]:
aa.index

Index([           2019-01-02 00:00:00,            2019-01-03 00:00:00,
       ('Close', 2019-01-02 00:00:00), ('Close', 2019-01-03 00:00:00),
        ('High', 2019-01-02 00:00:00),  ('High', 2019-01-03 00:00:00),
         ('Low', 2019-01-02 00:00:00),   ('Low', 2019-01-03 00:00:00),
        ('Open', 2019-01-02 00:00:00),  ('Open', 2019-01-03 00:00:00)],
      dtype='object')

In [53]:
aa.index.name = 'new'

In [54]:
aa

ConId,3882741,4036812,4036818,4036823,4036833,4081863,4109645,4109651,4109654,4109657,...,346070193,346215855,346216377,346362067,346523933,347787870,348087382,349593258,349593265,349593316
new,,,,,,,,,,,,,,,,,,,,,
2019-01-02 00:00:00,3.673469,2.648617,2.372314,2.228295,2.229880,2.500000,2.608696,5.462555,2.365869,1.585504,...,14.634146,0.447427,NaN,9.090909,0.129724,33.994334,NaN,NaN,NaN,NaN
2019-01-03 00:00:00,2.024291,1.687389,1.565448,1.843704,1.668677,2.288732,2.108745,4.235808,1.432758,1.393072,...,0.000000,2.267574,NaN,4.444444,0.249588,15.606936,NaN,NaN,NaN,NaN
"(Close, 2019-01-02 00:00:00)",2.440000,33.680000,70.970000,23.630000,24.480000,2.770000,23.860000,11.110000,76.650000,13.270000,...,0.475000,2.230000,NaN,0.110000,100.225000,0.875000,NaN,NaN,NaN,NaN
"(Close, 2019-01-03 00:00:00)",2.470000,33.680000,71.840000,23.930000,25.040000,2.850000,24.340000,11.540000,76.650000,13.280000,...,0.485000,2.180000,NaN,0.115000,100.080000,0.850000,NaN,NaN,NaN,NaN
"(High, 2019-01-02 00:00:00)",2.520000,34.550000,72.470000,24.000000,24.950000,2.840000,24.440000,11.650000,78.310000,13.430000,...,0.550000,2.240000,NaN,0.120000,100.330000,1.150000,NaN,NaN,NaN,NaN
"(High, 2019-01-03 00:00:00)",2.500000,34.130000,71.980000,24.090000,25.075000,2.855000,24.390000,11.710000,77.480000,13.445000,...,0.485000,2.230000,NaN,0.115000,100.290000,0.930000,NaN,NaN,NaN,NaN
"(Low, 2019-01-02 00:00:00)",2.430000,33.650000,70.770000,23.470000,24.400000,2.770000,23.810000,11.030000,76.480000,13.220000,...,0.475000,2.230000,NaN,0.110000,100.200000,0.850000,NaN,NaN,NaN,NaN
"(Low, 2019-01-03 00:00:00)",2.450000,33.560000,70.860000,23.650000,24.660000,2.790000,23.880000,11.225000,76.380000,13.260000,...,0.485000,2.180000,NaN,0.110000,100.040000,0.795000,NaN,NaN,NaN,NaN
"(Open, 2019-01-02 00:00:00)",2.460000,34.280000,72.350000,23.940000,24.850000,2.830000,24.440000,11.590000,78.050000,13.220000,...,0.550000,2.240000,NaN,0.110000,100.200000,0.890000,NaN,NaN,NaN,NaN
"(Open, 2019-01-03 00:00:00)",2.470000,33.880000,71.250000,23.800000,24.700000,2.830000,24.030000,11.360000,76.900000,13.280000,...,0.485000,2.230000,NaN,0.110000,100.250000,0.880000,NaN,NaN,NaN,NaN

In [47]:
conids = list(prices.columns.values)

In [48]:
new_df = {conids}

TypeError: unhashable type: 'list'

In [111]:
ix = pd.MultiIndex(levels=[['Close', 'High', 'Low', 'Open', 'PercentChange'], [pd.to_datetime("2019-01-02")]],
                   labels=[[0, 1, 2, 3, 4], [0, 0, 0, 0, 0]],
           names=['Field', 'Date'])
ix

MultiIndex(levels=[['Close', 'High', 'Low', 'Open', 'PercentChange'], [2019-01-02 00:00:00]],
           labels=[[0, 1, 2, 3, 4], [0, 0, 0, 0, 0]],
           names=['Field', 'Date'])

In [112]:
new_prices.set_index(ix)

ValueError: Length mismatch: Expected axis has 4 elements, new values have 5 elements

In [106]:
new_prices.loc["Close"].index

DatetimeIndex(['2019-01-02'], dtype='datetime64[ns]', name='Date', freq=None)

In [108]:
#new_prices.loc["PercentChange"] = 0
#new_prices.head()
new_prices.loc["PercentChange"].loc[pd.to_datetime("2019-01-02")] = 0

KeyError: 'the label [PercentChange] is not in the [index]'

In [63]:
pd.to_datetime("2019-01-02")

Timestamp('2019-01-02 00:00:00')

In [66]:
new_prices.loc["Close"].loc[pd.to_datetime("2019-01-02")].values

array([ 2.44, 33.68, 70.97, ...,   nan,   nan,   nan])

In [47]:
new_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, (Close, 2019-01-02 00:00:00) to 1546387200000000000
Columns: 1490 entries, 3882741 to 349593316
dtypes: float64(1490)
memory usage: 58.2+ KB

In [122]:
new_dataframe.head(100)

ConId,3882741,4036812,4036818,4036823,4036833,4081863,4109645,4109651,4109654,4109657,...,345521598,345526135,346070193,346215855,346362067,346523933,347787870,348087382,349593265,349593316
"(Close, 2019-01-02 00:00:00)",2.440000,33.680000,70.970000,23.630000,24.48000,2.77,23.860000,11.110000,76.650000,13.270000,...,0.160000,NaN,0.475000,2.230000,0.110000,100.225000,0.875000,NaN,NaN,NaN
"(High, 2019-01-02 00:00:00)",2.520000,34.550000,72.470000,24.000000,24.95000,2.84,24.440000,11.650000,78.310000,13.430000,...,0.170000,NaN,0.550000,2.240000,0.120000,100.330000,1.150000,NaN,NaN,NaN
"(Low, 2019-01-02 00:00:00)",2.430000,33.650000,70.770000,23.470000,24.40000,2.77,23.810000,11.030000,76.480000,13.220000,...,0.160000,NaN,0.475000,2.230000,0.110000,100.200000,0.850000,NaN,NaN,NaN
"(Open, 2019-01-02 00:00:00)",2.460000,34.280000,72.350000,23.940000,24.85000,2.83,24.440000,11.590000,78.050000,13.220000,...,0.170000,NaN,0.550000,2.240000,0.110000,100.200000,0.890000,NaN,NaN,NaN
1546387200000000000,3.673469,2.648617,2.372314,2.228295,2.22988,2.50,2.608696,5.462555,2.365869,1.585504,...,6.060606,NaN,14.634146,0.447427,9.090909,0.129724,33.994334,NaN,NaN,NaN

In [45]:
new_dataframe.rename({'2019-01-02 00:00:00': 'Percent change'}, axis='index')

ConId,3882741,4036812,4036818,4036823,4036833,4081863,4109645,4109651,4109654,4109657,...,345521598,345526135,346070193,346215855,346362067,346523933,347787870,348087382,349593265,349593316
2019-01-02 00:00:00,3.673469,2.648617,2.372314,2.228295,2.22988,2.50,2.608696,5.462555,2.365869,1.585504,...,6.060606,NaN,14.634146,0.447427,9.090909,0.129724,33.994334,NaN,NaN,NaN
"(Close, 2019-01-02 00:00:00)",2.440000,33.680000,70.970000,23.630000,24.48000,2.77,23.860000,11.110000,76.650000,13.270000,...,0.160000,NaN,0.475000,2.230000,0.110000,100.225000,0.875000,NaN,NaN,NaN
"(High, 2019-01-02 00:00:00)",2.520000,34.550000,72.470000,24.000000,24.95000,2.84,24.440000,11.650000,78.310000,13.430000,...,0.170000,NaN,0.550000,2.240000,0.120000,100.330000,1.150000,NaN,NaN,NaN
"(Low, 2019-01-02 00:00:00)",2.430000,33.650000,70.770000,23.470000,24.40000,2.77,23.810000,11.030000,76.480000,13.220000,...,0.160000,NaN,0.475000,2.230000,0.110000,100.200000,0.850000,NaN,NaN,NaN
"(Open, 2019-01-02 00:00:00)",2.460000,34.280000,72.350000,23.940000,24.85000,2.83,24.440000,11.590000,78.050000,13.220000,...,0.170000,NaN,0.550000,2.240000,0.110000,100.200000,0.890000,NaN,NaN,NaN

In [12]:
new_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 2019-01-02 00:00:00 to (Open, 2019-01-04 00:00:00)
Columns: 1823 entries, 3882741 to 349593316
dtypes: float64(1823)
memory usage: 213.8+ KB

In [28]:
prices['small_price'] = False
prices.loc[prices['Open'] < 0.1, 'smallprice'] = True

KeyError: 'Open'

In [ ]:
dollar_change_percentage.loc()

In [16]:
list(dollar_change_percentage)

[3882741,
 4036812,
 4036818,
 4036823,
 4036833,
 4081863,
 4109645,
 4109651,
 4109654,
 4109657,
 4109660,
 4109681,
 4109684,
 4109694,
 4109697,
 4109707,
 4109710,
 4109712,
 4109727,
 4242291,
 4354508,
 4506298,
 4506303,
 4506336,
 4506346,
 4700220,
 4708370,
 4757194,
 5082580,
 6874000,
 7153088,
 7153098,
 7202087,
 7549213,
 8112691,
 8112725,
 8125695,
 8687541,
 9508748,
 9992848,
 10129283,
 10932708,
 11289549,
 11289568,
 11289573,
 11294198,
 11294204,
 11470910,
 11910870,
 12101107,
 12294108,
 12294122,
 12345665,
 12370091,
 12370176,
 12565182,
 12565187,
 12888885,
 12888895,
 12888918,
 12888928,
 12888943,
 12888945,
 12888981,
 12888995,
 13156534,
 13900693,
 13902720,
 14061685,
 14061696,
 14061761,
 14061764,
 14061774,
 14061804,
 14061810,
 14061836,
 14061847,
 14061870,
 14061890,
 14061907,
 14061916,
 14061940,
 14061947,
 14062031,
 14062050,
 14062085,
 14062140,
 14062170,
 14062210,
 14062281,
 14062340,
 14062357,
 14062374,
 14062377,
 14062430,
 14062535,
 14062547,
 14062565,
 14062601,
 14062610,
 14062675,
 14062755,
 14062855,
 14062921,
 14062936,
 14062955,
 14062958,
 14062993,
 14063066,
 14063188,
 14063213,
 14063268,
 14063318,
 14063345,
 14063370,
 14063375,
 14063387,
 14063399,
 14063411,
 14063465,
 14063474,
 14063479,
 14063525,
 14063605,
 14063656,
 14063681,
 14063763,
 14063844,
 14063856,
 14063861,
 14063970,
 14063990,
 14064033,
 14064046,
 14064058,
 14064123,
 14064250,
 14064266,
 14064276,
 14064301,
 14064364,
 14064381,
 14064413,
 14064455,
 14064470,
 14064476,
 14064507,
 14064562,
 14064567,
 14064568,
 14064591,
 14064610,
 14064721,
 14064764,
 14064816,
 14064821,
 14064854,
 14064879,
 14064936,
 14064964,
 14064981,
 14065061,
 14065112,
 14065121,
 14065161,
 14065170,
 14065200,
 14065315,
 14065335,
 14065359,
 14065361,
 14065364,
 14065384,
 14065496,
 14065508,
 14065518,
 14065541,
 14065553,
 14065556,
 14065587,
 14065611,
 14065728,
 14065755,
 14065801,
 14065804,
 14065855,
 14065903,
 14065935,
 14065985,
 14066073,
 14066097,
 14066107,
 14066224,
 14066234,
 14066247,
 14066277,
 14066308,
 14066335,
 15192570,
 16660525,
 28109212,
 28109231,
 30865337,
 31214054,
 33933003,
 34805876,
 35880760,
 36308658,
 36357952,
 38242444,
 38251668,
 38559243,
 40724351,
 41179280,
 41881274,
 42247408,
 42278502,
 42469783,
 42831621,
 43202301,
 44187505,
 44187521,
 44187570,
 44187829,
 44187847,
 44187848,
 44187865,
 44187872,
 44187882,
 44187887,
 44187899,
 44187919,
 44187931,
 44187943,
 44187955,
 44188218,
 44188231,
 44188237,
 44188243,
 44188299,
 44188309,
 44188314,
 44188332,
 44188338,
 44188392,
 44188397,
 44188412,
 44188424,
 44188429,
 44188438,
 44188509,
 44188583,
 44188609,
 44188612,
 44188634,
 44188672,
 44188692,
 44188699,
 44188702,
 44188740,
 44188747,
 44188752,
 44188771,
 44188786,
 44188792,
 44200556,
 44200567,
 44200583,
 44200595,
 44200598,
 44200604,
 44200608,
 44200618,
 44200643,
 44200663,
 44200686,
 44200698,
 44200745,
 44200795,
 44200828,
 44200841,
 44200868,
 44200878,
 44200890,
 44200903,
 44200924,
 44200948,
 44200984,
 44201008,
 44201031,
 44201066,
 44201073,
 44201089,
 44201104,
 44201109,
 44201119,
 44201186,
 44201197,
 44201235,
 44202371,
 44202397,
 44202401,
 44202431,
 44202439,
 44202484,
 44202491,
 44202504,
 44202521,
 44202524,
 44202555,
 44202606,
 44202608,
 44202613,
 44202618,
 44202623,
 44202634,
 44202644,
 44202704,
 44202729,
 44202743,
 44202755,
 44202785,
 44202815,
 44202823,
 44202835,
 44202848,
 44202878,
 44202881,
 44202894,
 44202896,
 44202901,
 44202915,
 44202918,
 44202930,
 44202941,
 44202944,
 44203004,
 44204679,
 44204697,
 44204719,
 44204739,
 44204745,
 44204748,
 44204759,
 44204765,
 44204784,
 44204814,
 44204816,
 44204855,
 44204861,
 44204864,
 44204879,
 44204898,
 44204903,
 44204974,
 44205011,
 44205024,
 44205034,
 44205065,
 44205079,
 44205085,
 44205092,
 44205148,
 44205157,
 44205169,
 44205182,
 44205185,
 44205195,
 44205210,
 44205219,
 44205240,
 44205245,
 44205253,
 44205258,
 44205293,
 44205302,
 44205319,
 44205320,
 44205325,
 44205331,
 44205382,
 44205405,
 44205434,
 44205457,
 44205470,
 44205474,
 44205497,
 44205515,
 44205530,
 44205535,
 44205539,
 44205618,
 44205642,
 44205919,
 44243329,
 44257389,
 44480748,
 44480759,
 44480765,
 44480771,
 44480774,
 44480777,
 44492192,
 44582413,
 44582452,
 44647148,
 44890739,
 44993340,
 45019619,
 45079010,
 45082347,
 45082379,
 45127612,
 45145556,
 45201698,
 45201718,
 45202286,
 45207091,
 45207097,
 45208946,
 45208979,
 45208985,
 45208997,
 45209009,
 45209012,
 45209067,
 45414331,
 45440801,
 45440816,
 45440821,
 45540677,
 45549471,
 45665137,
 46020079,
 46065659,
 46114799,
 46139700,
 46457533,
 46536327,
 46550186,
 46665810,
 46679049,
 46701483,
 46910770,
 46914181,
 46933581,
 47028156,
 47057690,
 47067580,
 47127115,
 47182679,
 47182680,
 47193660,
 47200091,
 47200098,
 47412521,
 47412541,
 47474522,
 47494702,
 47519420,
 47534095,
 47546710,
 47555860,
 47571168,
 47572967,
 47572968,
 47591897,
 47595847,
 47595848,
 47595853,
 47595859,
 47595862,
 47595865,
 47602519,
 47609471,
 47615678,
 47623954,
 47623960,
 47627779,
 47637877,
 47648952,
 47938341,
 47963815,
 48005566,
 48098944,
 48817019,
 48955754,
 49281421,
 49312862,
 49436691,
 49561383,
 50035411,
 50035417,
 50504961,
 51588993,
 51636451,
 51763287,
 51800351,
 52187946,
 52530847,
 52950431,
 53610904,
 53722470,
 53744156,
 54350768,
 55764182,
 55858469,
 56238404,
 56238411,
 56304063,
 56379328,
 56379338,
 56464226,
 57041256,
 57540080,
 58572404,
 58572411,
 59109098,
 59696057,
 59851826,
 60009472,
 60036752,
 60036757,
 60877862,
 60922260,
 61170852,
 62061553,
 67867844,
 68065444,
 68595977,
 68598230,
 70000954,
 70234078,
 70243784,
 70315593,
 70715550,
 70771463,
 70771464,
 70771469,
 70831574,
 70847750,
 70898815,
 70961940,
 71359348,
 72135195,
 72445453,
 72597755,
 73180121,
 73336065,
 74237654,
 74826876,
 74883028,
 75259164,
 75935704,
 75991598,
 75995913,
 76123491,
 76214195,
 76263933,
 76721296,
 76879150,
 76980395,
 76980398,
 77496741,
 78673652,
 79346250,
 79346255,
 79509272,
 79752557,
 79770335,
 79874689,
 79914333,
 80282749,
 80285657,
 80443098,
 80593594,
 80770609,
 80792491,
 80866964,
 80935054,
 80970512,
 81014409,
 81361276,
 81375946,
 81489044,
 81506160,
 81602821,
 81730236,
 81730241,
 81730244,
 81730251,
 81740068,
 81740075,
 81768269,
 81803965,
 81807187,
 81825754,
 81825759,
 81825763,
 81849351,
 81849352,
 82255397,
 82363822,
 82367544,
 82811924,
 82962408,
 83002563,
 83355402,
 83595075,
 83598856,
 83908360,
 83959183,
 84010387,
 84122927,
 84619374,
 84619381,
 84832233,
 85389349,
 86299813,
 86434762,
 86743068,
 86743072,
 86743077,
 87235362,
 87278785,
 87559472,
 87635609,
 87665539,
 87734782,
 88872154,
 88872159,
 88872163,
 88980871,
 89359211,
 90087815,
 90435317,
 90748827,
 91334095,
 91995811,
 92135994,
 93033793,
 93779799,
 93894473,
 94042283,
 94380841,
 95224467,
 95833909,
 96112036,
 96616475,
 97133065,
 97488030,
 98193960,
 98228581,
 98497828,
 98588328,
 98700933,
 99294897,
 100069018,
 100341294,
 101315325,
 101479928,
 101590236,
 101715161,
 101987734,
 103792503,
 104027601,
 104027604,
 104084475,
 104084478,
 104084483,
 105426355,
 105925299,
 105989080,
 106061288,
 106617360,
 106796560,
 106892022,
 108147317,
 108564990,
 108675651,
 109932184,
 110165063,
 110295947,
 110321640,
 110629411,
 110746952,
 111418798,
 111418800,
 112160642,
 113024181,
 113158155,
 113401037,
 113787203,
 115280255,
 115712434,
 116570469,
 116570481,
 116775084,
 116804977,
 116961834,
 116970618,
 117704219,
 117802940,
 117898470,
 118101457,
 118158558,
 118403703,
 118609531,
 118610582,
 118921607,
 118995923,
 119943321,
 121625320,
 121626308,
 121933961,
 123303478,
 123478420,
 123980060,
 124670032,
 124747526,
 125694297,
 127664256,
 128489135,
 128512804,
 128638900,
 129028056,
 129149352,
 129297755,
 129552603,
 130526808,
 130861104,
 130912827,
 130940583,
 130990529,
 131246798,
 132396151,
 133513504,
 133865600,
 133930408,
 134000074,
 135418180,
 135740630,
 135931764,
 136145833,
 136145847,
 136345059,
 136345062,
 136345065,
 136345068,
 136345074,
 137767706,
 137767711,
 137767715,
 137819782,
 138392590,
 138421210,
 138421215,
 138992412,
 139101199,
 139230589,
 139360613,
 139462947,
 139463981,
 139500576,
 139551479,
 139667627,
 139709894,
 139795609,
 139878997,
 139879011,
 140105336,
 140105346,
 140192572,
 140389267,
 141253528,
 142016280,
 143038353,
 144171574,
 145640823,
 145761005,
 146251767,
 146438125,
 147653645,
 147676395,
 147967929,
 148072299,
 148078899,
 148124995,
 148616167,
 148776861,
 148776865,
 149638935,
 150057832,
 150260807,
 150260808,
 150622198,
 150695347,
 151440411,
 152210646,
 152451654,
 152689902,
 153515849,
 153982098,
 153985140,
 156106220,
 156106374,
 157951165,
 157951168,
 158131198,
 158447132,
 159187153,
 159424083,
 159700031,
 160117092,
 160421216,
 160813365,
 160954878,
 162084955,
 162170496,
 162217993,
 162285358,
 162855267,
 163241847,
 163441734,
 163441737,
 163715316,
 163715323,
 164898625,
 167136524,
 167909124,
 169443393,
 170362542,
 171597227,
 171862985,
 171970428,
 172461173,
 172600361,
 173358925,
 173498862,
 173790760,
 174051521,
 174161348,
 174162945,
 174162948,
 174961881,
 175469652,
 175593746,
 175596024,
 175760810,
 175916070,
 176121726,
 176121749,
 176224633,
 176224636,
 176354685,
 176462860,
 176602742,
 176814138,
 176853096,
 176973517,
 177117443,
 177117483,
 177223999,
 177228610,
 177228627,
 177292633,
 177358520,
 177391474,
 177575246,
 177575288,
 178891941,
 179250385,
 181304863,
 183334218,
 184161375,
 184161382,
 184161388,
 185185312,
 185186710,
 185890180,
 186014682,
 186648631,
 186656251,
 187255617,
 188396423,
 189114468,
 189544684,
 189692919,
 190422144,
 190681484,
 191567940,
 191567977,
 191567980,
 191744923,
 192479017,
 192825322,
 193338056,
 193494541,
 193818261,
 194310276,
 195200801,
 195552859,
 195578833,
 195664657,
 196172391,
 196221709,
 196871482,
 196887558,
 196887561,
 196887570,
 197118344,
 197259567,
 197330270,
 198013455,
 198032471,
 198034897,
 198430802,
 198430807,
 198430808,
 198554997,
 198812230,
 199153631,
 199153635,
 199356381,
 199356420,
 199822826,
 199906300,
 200042482,
 201312460,
 201664885,
 201733782,
 201871319,
 201871361,
 201979255,
 201979256,
 202827059,
 202827062,
 203002476,
 203222372,
 203296378,
 203355505,
 203422245,
 203579262,
 204632319,
 205190840,
 205191884,
 205520109,
 205597239,
 206012272,
 206012554,
 206162136,
 206163415,
 206867080,
 208509011,
 209462817,
 209672510,
 209736905,
 210525560,
 210639871,
 211007147,
 211516546,
 211602591,
 211649056,
 211649076,
 211683024,
 212121691,
 212175994,
 212497612,
 212721017,
 212756788,
 212801978,
 212894894,
 213608480,
 213706606,
 213858015,
 213895294,
 213929763,
 214120733,
 214124256,
 214124271,
 214124276,
 214151731,
 214172453,
 214241485,
 214517681,
 214645008,
 214652629,
 214723140,
 214723147,
 214797038,
 215014254,
 215014256,
 215014261,
 215173815,
 215179600,
 215271707,
 215280345,
 215280352,
 215304964,
 215349320,
 ...]

In [13]:
dollar_change_percentage.drop(dollar_change_percentage[dollar_change_percentage.2019-1-2 < 50].index, inplace=True)

SyntaxError: invalid syntax (<ipython-input-13-ffaf90a20e0d>, line 1)