In [1]:
from quantrocket.history import get_historical_prices
import quantrocket.db
from quantrocket import *





#Variables:
print(quantrocket.master.list_universes(domain=None))
universe = input("What Universe Would You like to sort by Volume?")
print(quantrocket.db.list_databases(service='history', codes=None, detail=False, expand=False))

db = input(" What datebase would you like to sort?")
start_date =  input("What start date Would you like to sort " + universe + " by volume for? YYYY-MM-DD")
end_date = input("What end date would you like to sort " + universe + "by volume for? YYYY-MM-DD")







#DB = "australia-stk-1day"
#UNIVERSES = "australia-stk"

prices = get_historical_prices(db, 
                               start_date=start_date,
                               end_date=end_date, 
                               universes=universe,
                               fields=["Close", "Volume"])

closes = prices.loc["Close"]
volumes = prices.loc["Volume"]
dollar_volume = closes * volumes

# dollar_volume.head()

dollar_volume_ranks = dollar_volume.rank(axis=1, method='max', numeric_only=float, na_option='keep', ascending=False, pct=False)

dollar_volume_ranks.head()

dollar_volume_ranks_sorted = dollar_volume_ranks.sort_values(by=start_date , axis=1)

dollar_volume_ranks_sorted.head()

{'australia-stk': 2458, 'australia-stk-100-120': 20, 'australia-stk-top50': 49}
['quantrocket.history.australia-stk-1day.sqlite', 'quantrocket.history.australia-stk-1second.sqlite', 'quantrocket.history.availability.sqlite']

ConId,4036812,4036818,4036833,4109645,11294198,4109654,4036823,47028156,4081863,4109712,...,340756841,343911130,344157180,344228317,344231281,344422856,345196852,345786611,346216377,349593258
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-02,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-03,1.0,2.0,6.0,4.0,3.0,9.0,5.0,8.0,14.0,10.0,...,960.0,639.0,1204.0,NaN,NaN,1019.0,979.0,NaN,739.0,1349.0
2019-01-04,1.0,4.0,7.0,8.0,2.0,6.0,5.0,10.0,9.0,13.0,...,1418.0,756.0,NaN,1313.0,1427.0,1048.0,NaN,973.0,792.0,1490.0